@font-face {
    font-family: 'Noto-Sans-Japanese-Light';
    src: local('Noto-Sans-Japanese-Light'), url('./NotoSanJp/NotoSansJP-Light.otf');
  }
  
@font-face {
    font-family: 'Noto-Sans-Japanese-Bold';
    src: local('Noto-Sans-Japanese-Bold'), url('./NotoSanJp/NotoSansJP-Bold.otf');
  }
  
@font-face {
    font-family: 'Noto-Sans-Japanese-Medium';
    src: local('Noto-Sans-Japanese-Medium'), url('./NotoSanJp/NotoSansJP-Medium.otf');
  }
  
@font-face {
    font-family: 'Noto-Sans-Japanese-Black';
    src: local('Noto-Sans-Japanese-Black'), url('./NotoSanJp/NotoSansJP-Black.otf');
  }
  
@font-face {
    font-family: 'Noto-Sans-Japanese-Regular';
    src: local('Noto-Sans-Japanese-Regular'), url('./NotoSanJp/NotoSansJP-Regular.otf');
  }