@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Sans', sans-serif !important;

    
}

.ant-typography {
    font-family: 'Noto Sans', sans-serif !important;
}

  
 
#root {
    padding: 0;
    margin: 0;
}

.translate{
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: #96D962 ;
    border-radius: 10px;
    flex-direction: column;
}



